<div class="stepper">

    <mortgage-step value="1" [first]="true" [last]="false" [active]="isDotActive(1)" [current]="isCurrentStep(1)" class="step-1"></mortgage-step>
    <mortgage-step value="2" [first]="false" [last]="false" [active]="isDotActive(2)" [current]="isCurrentStep(2)" class="step-2"></mortgage-step>
    <mortgage-step value="3" [first]="false" [last]="false" [active]="isDotActive(3)" [current]="isCurrentStep(3)" class="step-3"></mortgage-step>
    <mortgage-step value="4" [first]="false" [last]="true" [active]="isDotActive(4)" [current]="isCurrentStep(4)" class="step-4"></mortgage-step>

    <mortgage-line [active]="isLineActive(1)" class="line-1"></mortgage-line>
    <mortgage-line [active]="isLineActive(2)" class="line-2"></mortgage-line>
    <mortgage-line [active]="isLineActive(3)" class="line-3"></mortgage-line>

    <mortgage-label [value]="labels.step1" [active]="isDotActive(1)" class="label-1"></mortgage-label>
    <mortgage-label [value]="labels.step2" [active]="isDotActive(2)" class="label-2"></mortgage-label>
    <mortgage-label [value]="labels.step3" [active]="isDotActive(3)" class="label-3"></mortgage-label>
    <mortgage-label [value]="labels.step4" [active]="isDotActive(4)" class="label-4"></mortgage-label>

</div>