<div class="row">

    <!-- Input -->
    <div class="col-12 col-md-6">

        <div class="d-flex flex-column">

            <!-- Input: Title -->
            <h1>Cost of buying</h1>

            <!-- Input: Property Value -->
            <div class="form-group mt-2">
                <label class="mb-2">Property Value</label>
                <input type="number" class="form-control">
            </div>

            <!-- Input: Deposit Value -->
            <div class="form-group mt-2">
                <label class="mb-2">Deposit Value</label>
                <input type="number" class="form-control">
            </div>

             <!-- Input: Include Other Fees? -->
             <div class="form-group mt-2">
                <label class="mb-2">Include other fees?</label>
                <div class="row">
                    <div class="col-6 pr-2">
                        <button type="button" class="btn btn-outline-secondary w-100">Yes</button>
                    </div>
                    <div class="col-6 pl-2">
                        <button type="button" class="btn btn-outline-secondary w-100">No</button>
                    </div>
                </div>
            </div>

            <!-- Input: Next -->
            <div class="row mt-3">
                <div class="col-8 offset-4">
                    <button type="button" class="btn btn-primary w-100">Next</button>
                </div>
            </div>

        </div>

    </div>


    <!-- Output -->
    <div class="col-12 col-md-6">
        <mortgage-step-one-output></mortgage-step-one-output>
    </div>

</div>