@import 'theme';

.input-container {
    width: 100%;
    height: 46px;
    position: relative;
}

.input-absolute {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;    
    padding-left: 48px;
}

.input-icon {
    position: absolute;
    left: 6px;
    top: 5px;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-color: $tertiaryA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 26px;
}
