@import 'theme';

.input-group-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: $tertiaryA;

}