$primaryA: #CC2C4F;       // Pink
$primaryB: #9DCEA3;       // Mint Green

$secondaryA: #559690;     // Teal
$secondaryB: #6A55E3;     // Violet
$secondaryC: #A3A0E0;     // Light Violet
$secondaryD: #E17F39;     // Orange

$grayscaleA: #F9F7F4;     // Light Cream
$grayscaleB: #E7EEE7;     // Light Mint Green
$grayscaleC: #BCC2BC;     // Light Grey
$grayscaleD: #666E65;     // Grey
$grayscaleE: #373D36;     // Dark Grey    
$grayscaleF: #0F0F0D;     // Black