<div class="d-flex flex-column align-items-center">

    <div class="d-flex flex-column align-items-center header">
        <h1>Mortgage Saving Goal Calculator</h1>
        <p class="mt-3">Complete our mortgage saving goal calculator to help you gain a better understanding of how much you need to save and for how long!</p>
        <mortgage-stepper [step]="step" class="stepper mt-5"></mortgage-stepper>
    </div>

    <div class="container mt-5">
        <mortgage-step-one></mortgage-step-one>
    </div>

</div>