<div class="d-flex flex-column output p-4">

    <!-- Cost of buying-->
    <div class="d-flex flex-column">
        <label>Cost of buying</label>
        <h1>£{{costOfBuyingFormatted}}</h1>
    </div>

    <!-- Deposit -->
    <div class="d-flex align-items-center mt-2">
        <label class="inline-label">Fees</label>
        <label>£{{feesFormatted}}</label>
    </div>

    <!-- Fees -->
    <div class="d-flex align-items-center">
        <label class="inline-label">Deposit</label>
        <label>£{{depositFormatted}}</label>
    </div>

</div>

<div class="d-flex flex-column output p-4 mt-4">

    <!-- Goal Saving Amount-->
    <div class="d-flex flex-column">
        <label>Goal Saving Amount</label>
        <h1>£{{goalSavingAmount}}</h1>
    </div>

</div>